@import url("screen.css");
@import url("non-screen.css") handheld;
@import url("non-screen.css") only screen and (max-device-width:640px);

#map_canvas {
    height: 500px;
    min-height:100%;
    width: 100%;
    overflow:hidden;
}

/* Prevent img CSS from messing up map tiles */
#map_canvas img {
    max-width: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
}

#avatar_thumb {
	float:left;
	padding:10px;
}